@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  background-color: gray;
}

label {
  font-weight: bold;
  font-size: large;
  display: block;
}

input {
  padding: .25rem 0;
  width: 100%;

  
}

